@model InternetProgramlamaFinal.Models.Egitmenler

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Yeni Eğitmen Ekle</h1>

<h4>Egitmenler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EgitmenAdi" class="control-label"></label>
                <input asp-for="EgitmenAdi" class="form-control" />
                <span asp-validation-for="EgitmenAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EgitmenFoto" class="control-label"></label>
                <input asp-for="EgitmenFoto" class="form-control" />
                <span asp-validation-for="EgitmenFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KursId" class="control-label"></label>
                <input asp-for="KursId" class="form-control" />
                <span asp-validation-for="KursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
