@model InternetProgramlamaFinal.Models.Salonlar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Salon Sil</h1>

<h3>Silmek istediğinizden Emin Misiniz ?</h3>
<div>
    <h4>Salonlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalonKonumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalonKonumu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalonId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="text-de" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
